
body {
  background-color: white;
}

.titulo-img {
  width: 90px;
  margin-left: 5%;
  margin-right: auto;
}

.titulo-opcoes {
  font-size: 1.3em;
  margin-right: 5%;
  margin-left: auto;
}

.titulo-opcoes li:first-child {
  margin-right: 20px;
}

.topo-fixo {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.imagem-fundo {
  width: 100%;
  padding-top: 3.51em;
}

.section {
  position: relative;
}

.titulo-na-pagina {
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -80%);

}

.titulo-na-pagina img {
  width: 190px;
}

.botao {
  height: 34px;
  width: 298px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  font-style: normal !important;
  font-family: "Roboto", sans-serif;
}

#submenu {
  top: 75px;
  width: 299px;
}

.bloco {
  text-align: center;
  padding-left: 28px;
  padding-right: 28px;
}

.bloco h3 {
  font-size: 1.7rem;
  text-transform: uppercase;
}

.bloco p {
  font-size: 15px;
}

.bloco img {
  width: 160px;
}

.conheca-areas {
  text-align: center;
  padding: 10px 0;
}

.conheca-areas img {
  height: 50px;
}

.titulo-areas {
  font-weight: bold;
  font-size: 14px !important;
}

.conheca-areas p {
  text-transform: uppercase;
  font-size: 12px;
}

.card-panel {
  margin: 0 0 0 0;
}

.rodape {
  padding-bottom: 3px;
  padding-top: 1px;
  text-align: center;
}

.rodape p {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.rodape img {
  width: 42px;
  padding: 3px;
}

.rodape ul li {
  display: inline;
}

.clickable-area {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 0.8em;
  margin: -0.8em;

}

@media (max-width: 760px) {
  .adm {
    padding: 11px;
  }
}
